* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
}

body {
  overflow-x: hidden;
}

.nav-bar {
  position: absolute;
  top: 2rem;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
  padding: 0 5%;
  z-index: 2;
}
.nav-bar .links-btn {
  display: none;
}
.nav-bar .logo {
  display: block;
  width: 42px;
}
.nav-bar .links {
  padding: 2.5rem 0;
}
.nav-bar .links .link {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  padding: 2.5rem;
  position: relative;
}
.nav-bar .links .link::after {
  position: absolute;
  content: "";
  width: 0;
  height: 2.5px;
  background-color: #fff;
  display: block;
  bottom: 0;
  left: 0;
}
.nav-bar .links .link:hover::after {
  width: 100%;
  opacity: 0.5;
}
.nav-bar .links .link.active::after {
  width: 100%;
}

.header {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: grid;
  align-content: center;
  padding-left: 10%;
}
.header.first {
  background-image: url(assets/home/background-home-desktop.jpg);
}
.header.first .text {
  max-width: 500px;
}
.header.second {
  background-image: url(assets/destination/background-destination-desktop.jpg);
  grid-template-columns: repeat(2, 1fr);
  padding-right: 5%;
  padding-top: 8rem;
}
.header.second .destination-image {
  padding-top: 2rem;
}
.header.second .buttons {
  padding-bottom: 1.5rem;
}
.header.second .buttons .destination-btn {
  padding: 0.7rem 1.4rem;
  font-size: 1.1rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #d0d6f9;
  letter-spacing: 0.2rem;
  position: relative;
}
.header.second .buttons .destination-btn::after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: #fff;
  display: block;
  bottom: 0;
  left: 0;
}
.header.second .buttons .destination-btn:hover::after {
  width: 100%;
  opacity: 0.5;
}
.header.second .buttons .destination-btn.active::after {
  width: 100%;
}
.header.second .title {
  font-size: 6.5rem;
  text-transform: uppercase;
}
.header.second .text {
  max-width: 500px;
  letter-spacing: 0.1rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
}
.header.second .bottom-content {
  display: flex;
  padding-top: 2.5rem;
  gap: 15vw;
}
.header.second .bottom-content .item {
  text-align: center;
}
.header.second .bottom-content .item .name {
  font-size: 1.1rem;
  color: #fff;
  font-weight: 300;
  padding-bottom: 0.5rem;
  letter-spacing: 0.1rem;
}
.header.second .bottom-content .item .details {
  font-size: 2rem;
  font-family: "Bellefair", sans-serif;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}
.header.third {
  background-image: url(assets/crew/background-crew-desktop.jpg);
}
.header.third .crew-image {
  position: absolute;
  bottom: 0;
  right: 5%;
  width: 400px;
}
.header.third .gray-text {
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 2.25rem;
  font-family: "Bellefair", sans-serif;
  font-weight: 400;
  padding-top: 7.5rem;
  text-transform: uppercase;
}
.header.third .title {
  font-size: 3.5rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
}
.header.third .text {
  max-width: 500px;
}
.header.third .buttons {
  display: flex;
  gap: 3rem;
  padding-top: 3rem;
}
.header.third .buttons .crew-btn {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #fff;
  opacity: 0.25;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.header.third .buttons .crew-btn.active {
  opacity: 1;
}
.header.third .buttons .crew-btn:hover {
  opacity: 0.5;
}
.header.fourth {
  background-image: url(assets/technology/background-technology-desktop.jpg);
}
.header.fourth .left-side {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  padding-top: 5rem;
}
.header.fourth .left-side .title {
  font-size: 3.5rem;
  padding: 1rem 0 1.5rem;
  text-transform: uppercase;
}
.header.fourth .left-side .text {
  max-width: 500px;
}
.header.fourth .left-side .small-text {
  font-size: 0.9 0.25rem;
  font-weight: 400;
  color: #d0d6f9;
}
.header.fourth .left-side .buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.header.fourth .left-side .buttons .techno-btn {
  width: 80px;
  height: 80px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 1.5rem;
  font-family: "Bellefair";
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  cursor: pointer;
}
.header.fourth .left-side .buttons .techno-btn:hover {
  background-color: #fff;
  color: #000;
}
.header.fourth .left-side .buttons .techno-btn.active {
  background-color: #fff;
  color: #000;
}
.header.fourth .technology-image {
  position: absolute;
  bottom: 0;
  right: 0;
}
.header .top-text {
  color: #d0d6f9;
  font-size: 1.9rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
}
.header .title {
  font-size: 8.5rem;
  font-family: "Bellefair", sans-serif;
  color: #fff;
  font-weight: 400;
}
.header .text {
  color: #d0d6f9;
  line-height: 1.8rem;
  font-size: 1.2rem;
}
.header .explore-btn {
  display: grid;
  place-content: center;
  position: absolute;
  bottom: 15%;
  right: 15%;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #fff;
  color: #000;
  font-family: "Bellefair", sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 2rem;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.header .explore-btn:hover {
  box-shadow: 0 0 0 2.5rem hsla(0, 0%, 100%, 0.5);
}
.header .about-text {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 400;
}
.header .about-text span {
  padding-right: 1rem;
  opacity: 0.5;
}

@media screen and (max-width: 1000px) {
  .header {
    padding: 0 5% !important;
  }
  .header .about-text {
    padding-top: 10rem;
  }
  .header.first {
    place-content: flex-end center;
    padding-bottom: 5rem;
    text-align: center;
  }
  .header.first .title {
    font-size: 7.5rem;
  }
  .header.first .explore-btn {
    position: static;
    width: 200px;
    height: 200px;
    font-size: 1.4rem;
    margin: 1.5rem auto;
  }
  .header.first .explore-btn:hover {
    box-shadow: 0 0 0 2rem hsla(0, 0%, 100%, 0.5);
  }
  .header.second {
    grid-template-columns: 1fr;
    text-align: center;
    padding-bottom: 1.5rem;
  }
  .header.second .destination-image {
    width: 380px;
  }
  .header.second .text {
    margin: auto;
    padding-bottom: 2.5rem;
  }
  .header.second .bottom-content {
    justify-content: center;
    padding-top: 2.5rem;
  }
  .header.third {
    place-content: center;
    text-align: center;
  }
  .header.third .crew-image {
    position: static;
    width: 300px;
    margin: 2.5rem auto 0;
  }
  .header.third .buttons {
    justify-content: center;
  }
  .header.third .gray-text {
    padding-top: 5rem;
  }
  .header.third .text {
    margin: auto;
  }
  .header.fourth {
    text-align: center;
  }
  .header.fourth .technology-image {
    width: 300px;
    margin: 2.5rem auto 0;
    position: static;
  }
  .header.fourth .left-side {
    flex-direction: column;
  }
  .header.fourth .left-side .buttons {
    flex-direction: row;
  }
  .header.fourth .left-side .text {
    text-shadow: 0 0 1rem #000;
  }
}
@media screen and (max-width: 868px) {
  .nav-bar {
    -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
  }
  .nav-bar .links {
    position: fixed;
    top: -2rem;
    right: -220px;
    width: 220px;
    height: 100vh;
    -webkit-backdrop-filter: blur(0.5rem);
            backdrop-filter: blur(0.5rem);
    flex-direction: column !important;
    padding-top: 5rem;
    z-index: 2;
    display: none;
  }
  .nav-bar .links.active {
    right: 0;
    display: flex;
  }
  .nav-bar .links-btn {
    display: block !important;
    cursor: pointer;
    z-index: 3;
  }
}
@media screen and (max-width: 578px) {
  .header.first .title {
    font-size: 5rem;
    padding: 0.25rem 0;
  }
  .header.first .top-text {
    font-size: 1.6rem;
  }
  .header.first .explore-btn {
    width: 175px;
    height: 175px;
    left: calc(50% - 87.5px);
  }
  .header.second {
    padding-top: 8rem !important;
  }
  .header.second .destination-image {
    width: 300px;
  }
  .header.second .title {
    font-size: 5rem;
  }
  .header.second .destination-btn {
    padding: 0.5rem 1rem !important;
  }
  .header.second .bottom-content {
    padding-bottom: 2rem;
  }
  .header.second .about-text {
    padding-top: 2.5rem;
  }
  .header.fourth .techno-btn {
    width: 70px !important;
    height: 70px !important;
  }
  .header.fourth .left-side {
    padding-top: 3rem;
  }
  .header.third .title,
  .header.fourth .title {
    font-size: 2.75rem !important;
  }
}/*# sourceMappingURL=style.css.map */